body {
    font-family: 'Open Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stylea {
    color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
 .styleb{
    color:#ff5900;
 }
 nav ul{
    display: flex;
    align-items: center;
 }
nav li {
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: gray;
     
}
.stylec{
        border-radius: 5px;
        color: rgb(22, 27, 25);
        background: rgb(236, 255, 94);
}
 