body {
    font-family: 'Open Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0  200px;
}
.stylea {
    color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
 .styleb{
    color:#ff5900;
 }
 nav ul{
    display: flex;
    align-items: center;
 }
nav li {
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: rgb(68, 58, 58);
     
}
.buttona{
        border-radius: 5px;
        color: rgb(7, 7, 7);
        background:rgb(157, 255, 0);
}

.header{
    background-color: rgb(150, 205, 252);
}
 .banner{
    padding:30px 30px 50px 150px;
    display: flex;
    align-items: center;
 }
 .profile{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
 }
 .call{
    border-radius: 5px;
border: 2px solid #050505;
width: 100px;
height: 35px;
flex-shrink: 0;
color: rgb(38, 6, 252);
background-color: gold;

 }
 .buttonb{
    width: 100px;
height: 35px;
flex-shrink: 0;
border-radius: 5px;
background: rgb(157, 255, 0);
color: rgb(255, 0, 0);
 }